@media (max-width: 767px) {
  body {
    #__next {
      // general styles
      > div {
        width: 100%;
        height: 100%;
        border-radius: 0;

        > div > main > section {
          // menu
          &:first-of-type > div {
            padding: 1.5rem 0;

            width: 5rem;
          }
          // content
          &:last-of-type {
            padding: 1.5rem;

            // header
            > div:not(.footer) {
              margin-bottom: 1.5rem;
            }

            .content {
              max-height: 85%;

              > div:first-of-type {
                gap: 1rem;
              }
            }
          }
        }
      }

      #home .content > div:first-of-type {
        grid-template-columns: 1fr;
      }

      #company .content > div {
        display: flex;
        align-items: center;
        flex-direction: column;

        .banner > div {
          height: 9.375rem;
        }
      }

      #users .user-card > div {
        h3 {
          margin-top: 0.625rem auto 0.313rem;
        }

        span {
          margin-top: 0.625rem;
        }
      }
    }
  }
}
